html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
  width: 100%;
}

.button {
  background-color: red;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}
